@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}

@layer utilities {
  .masonry-3-col {
    column-count: 3;
    column-gap: 30px;
    column-fill: initial;
  }
  .masonry-2-col {
    column-count: 2;
    column-gap: 30px;
    column-fill: initial;
  }
}

.container {
  width: 90%;
  margin: 0 auto;
}

@screen sm {
  .container {
    width: 80%;
    margin: 0 auto;
  }
}

@font-face {
  font-family: 'MaisonNeue';
  src: url('./assets/font/MaisonNeue-Light.woff') format('woff');
}

@font-face {
  font-family: 'MaisonNeue';
  src: url('./assets/font/MaisonNeue-Bold.woff') format('woff');
  font-weight: bold;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.2s ease-out;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: translateX(-10px);
}
